// COLOURS OF THE FLAT VARIETY FROM FLATUICOLORS.COM

// purple
$amethyst: #9B59B6;
$wisteria: #8E44AD;

// Grey (light to dark)
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

// blue
$peter-river: #3498DB;
$belize-hole: #2980B9;

// bluey-green
$turquoise: #1ABC9C;
$green-sea: #16A085;

// green
$emerland: #2ECC71;
$nephritis: #27AE60;

// yellow - orange
$sun-flower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;

// red
$alizarin: #E74C3C
$mrqwest-col: #E24234;
$pomegranate: #C0392B;
